@model MilestoneEditVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container my-5">
    <form method="post" asp-action="Edit">
        <p><b>Type</b></p>
        <input asp-for="Type" class="form-control mt-3" maxlength="" />
        <span class="text-danger d-block" asp-validation-for="Type"></span>
        <br />
        <p><b>Counter</b></p>
        <input asp-for="Counter" class="form-control mt-3" maxlength="" />
        <span class="text-danger d-block" asp-validation-for="Counter"></span>
        <button type="submit" class="btn btn-inverse-primary btn-fw mt-3">Submit</button>
        <a asp-action="Index" class="btn btn-outline-info btn-fw mt-3">Back</a>
    </form>

</div>

